<div class="row">
	<h1 class="small-11 small-centered medium-6 medium-center large-4 large-centered columns new_tournament">New Tournament</h1>

	<%= render 'form' %>

	<%#= link_to 'Back', players_path %>
</div>