<% @player ||= current_player %>
<div class="stats">
	<a href="<%= following_player_path(@player) %>">
		<strong id="following" class="stat">
			<%= @player.followed_players.count %>
		</strong>
		Following
	</a>	
	<a href=" <%= followers_players_path(@player) %>">
		<strong id="followers" class="stat">
			<%= @player.followers.count %>
		</strong>
		Followers
	</a>
</div>