<%#= form_for(current_player.relationships.build(followed_id: @player.id)) do |f| %>
  <!-- <div><%#= f.hidden_field :followed_id %></div> -->
  <%#= f.submit "Follow", class: "button radius" %>
<%# end %>

