<div class="row">
  <div class="small-12 small-centered medium-6 medium-centered large-6 large-centered columns">
    <h1>Players List</h1>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Handicap</th>
          <th>City</th>
          <th>State</th>
        
          
        </tr>
      </thead>

      <tbody>
        <% @players.each do |player| %>
          <tr>
            <td><%= link_to player.name, player %></td>
            <td><%= player.handicap %></td>
            <td><%= player.city %></td>
            <td><%= player.state %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%#= link_to 'New Player', new_player_path, class: "button radius" %>
    </div>
</div>

