// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-page {
	display: block;
	position: absolute;
	z-index: 1;
	min-width: 100%;
	min-height: 100%;
	background: transparent url("/images/bandonBW.jpg") center center no-repeat;
	background-size: cover;
	color: blue;
}

