<div class="row home">
	<div class="small-6 medium-12 large-12 columns home-page">
		<h1> vsGolf </h1>	
	</div>
	<div class="row">
		<div class="small-9 small-centered medium-4 columns home-page-up">  
		 <%= link_to 'Sign Up', new_player_path, :class => "small button" %>
		</div>
	</div>
	<div class="row">
		<div class="small-9 small-centered medium-4 columns home-page-in">  
		 <%= link_to 'Sign In', signin_path, :class => "small button " %>
		</div>
	</div>
</div>

